
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.site-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.titulo{
    color:#0080b9;
    font-family: "Orbitron", serif;
}

.logo {
    height: 90px;
}

.site-nav {
    background-color: #312682;
    padding: 20px 0;
    text-align: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #24006c;
}
#separador{
    width: 3px;
    height: 60px;
    background-color: #e20712;
}


@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        justify-content: center;
    }

    .site-nav {
        text-align: left;
        padding: 10px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    #separador{
        width: 100%;
        height: 3px;
        background-color: #e20712;
}

